.content {
  display: flex;
  margin-top: 20px;
}

.left-side {
  width: 200px;
  padding: 10px;
}

.right-side {
  flex-grow: 1;
  padding: 10px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: lightgrey;
  text-align: center;
  padding: 10px 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
  text-align: center;
  padding: 10px 0;
}

.select-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-label-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0;
  max-width: 100px;
}

.example-margin {
  margin: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}